@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;;
}

.container{
    background-image: url(../assets/imgs/Home_video.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    background-position:center;
}

.fundo{
    background-color: rgba(0,0,0, 0.5);
    height: 650px;
    margin-top: 0;
    padding: 0;
}

.logotext{
    color: gold;
    font-size: 20px;
}

.titulo{
    color: gold;
    align-self: center;
}

.titulo-container {
    display: flex;
    height: 400px;
    justify-content: center;
    font-size: 30px;
}

h1{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
}

a:hover{
    color: gold;
}

.autora{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.eu{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.tituloautora{
    align-self: center;
}

.tituloEu{
    align-self: center;
}

.foto{
    border-radius: 30px;
    width: 400px;
}

.fototext{
    display:flex;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.autora-texto{
    padding-left: 10px;
}

.meu-texto{
    padding-left: 10px;
}

.livrosinopse1{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.livrosinopse2{
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.livrosinopse3{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.titulolivro{
    align-self: center;
}

.livro1{
    margin-left: -80px;
    width: 600px;
}

.livro2{
    margin-left: -80px;
    width: 550px;
}

.livro3{
    margin-left: -80px;
    width: 550px;
}

.livrotext{
    display:flex;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
    align-items: center;
    width: 80%;
}

.sinopse{
    padding-left: 10px;
    text-align: justify;
}

.footer{
    background-color: black;
    color: white;
    height: 200px;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

