@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
    font-family: 'Inknut Antiqua', sans-serif;  
    background-color: black;
}

.indicadores{
    display: flex;
    justify-content: space-evenly;
}

.indicador{
    border-radius: 20px;
    width: 400px;
    height: 150px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#kpi1{
    font-size: 30px;
}

#kpi2{
    font-size: 30px;
}

.grafico{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.dash{
    border-radius: 20px;
    width: 100%;
    height: 400px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#myChart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: gold;
    display: flex;
    justify-content: center;
}