@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', sans-serif;
}

.background{
  border: black 1px solid;
  background-color: black;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: black 1px solid;
  display: flex;
  gap: 20px;
}

.container2{
  width: 60%;
}

#avaliacao1{
  display: flex;
}

#avaliacao2{
  display: flex;
}

#avaliacao3{
  display: flex;
}

.avaliacaoI img{
  margin-bottom: 40px;
}

.avaliacao{
  display: flex;
  justify-items: center;
  margin-left: 40px ;
  margin-bottom: 0;
}

.descricao{
  margin-left: 100px;
}

textarea{
  width: 300px;
  height: 100px;
}

.star-icon{
  list-style-type: none;
  border: 1px solid #fff;
  cursor: pointer;
  color: #ffe500;
  font: 2em sans-serif;
  margin-left: 2px;
}


.star-icon::before{
  content: "\2605"; /*cheio*/
}

.star-icon.ativo ~ .star-icon::before{
  content: "\2606"; /*vazio*/
}

.avaliacao:hover .star-icon::before{
  content: "\2605"; /*cheio*/
}

.star-icon:hover ~ .star-icon::before{
  content: "\2606"; /*vazio*/
}

.botaoavaliar button{
    width: 400px;
    height: 10vh;
    border-radius: 9px;
    border: none;
    background-color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inknut Antiqua', sans-serif;
    text-decoration: none;
}

.botaoavaliar button:hover{
    color: #ffe500;
}